<ion-view title="Auxilios Universitários" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/fI9D6zoESzmgZ7PEnNmi_639365.svg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="auxiliosUniversitRios-markdown41" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vida de estudante não é fácil. Além de manter as notas em dia, é preciso planejar direito gastos com transporte, material didático, fotocópias e alimentação para a conta fechar. O bom é que, a partir de seu ingresso, já é possível se engajar em
        diversas atividades dentro da UFC e receber um dinheirinho por isso. Conforme se avança no curso, também dá para conseguir uma vaga de estágio por intermédio da própria Universidade, através da Agência de Estágios da UFC. Conheça a seguir as modalidades
        de bolsas e estágios disponíveis para alunos de graduação</p>
    </div>
    <a ui-sref="pAIP()" id="auxiliosUniversitRios-button24" class="button button-stable button-block icon-right ion-android-arrow-forward">PAIP</a>
    <a ui-sref="pET()" id="auxiliosUniversitRios-button25" class="button button-stable button-block icon-right ion-android-arrow-forward">PET</a>
    <a ui-sref="auxLioMoradia()" id="auxiliosUniversitRios-button27" class="button button-stable button-block icon-right ion-android-arrow-forward">Auxílio Moradia</a>
    <a ui-sref="ajudaDeCusto()" id="auxiliosUniversitRios-button28" class="button button-stable button-block icon-right ion-android-arrow-forward">Ajuda de Custo</a>
    <a ui-sref="pACCE()" id="auxiliosUniversitRios-button29" class="button button-stable button-block icon-right ion-android-arrow-forward">PACCE</a>
    <a ui-sref="iniciaOAcadMica()" id="auxiliosUniversitRios-button26" class="button button-stable button-block icon-right ion-android-arrow-forward">Iniciação Acadêmica</a>
    <a ui-sref="iniciaOCientFica()" id="auxiliosUniversitRios-button30" class="button button-stable button-block icon-right ion-android-arrow-forward">Iniciação Científica</a>
  </ion-content>
</ion-view>