<ion-view title="Cartão RU" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5wEbL6mkSEqECuJFMqgQ_fg_cartao_ru.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="cartORU-markdown32" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Cartões recarregáveis para acesso aos Refeitórios da Universidade Federal do Ceará estão disponíveis para todas as pessoas que apresentam algum vínculo institucional, ou seja, estudantes dos cursos presenciais de graduação e pós-graduação, técnico-administrativos
        e professores da UFC.</p>
    </div>
    <a ui-sref="normasDeUso()" id="cartORU-button20" class="button button-stable button-block">Normas de uso</a>
    <a href-inappbrowser="https://si3.ufc.br/public/iniciarConsultaSaldo.do" id="cartORU-button18" class="button button-stable button-block">Consultar saldo do cartão</a>
    <a href-inappbrowser="https://si3.ufc.br/public//jsp/restaurante_universitario/consulta_comensal_ru.jsf" id="cartORU-button21" class="button button-stable button-block">GRU para a inserção de créditos</a>
    <a href-inappbrowser="https://si3.ufc.br/public//jsp/restaurante_universitario/consulta_comensal_2_via_cartao_ru.jsf" id="cartORU-button22" class="button button-stable button-block">GRU para 2° via do cartão</a>
  </ion-content>
</ion-view>