<ion-view title="Economia" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PM3yQ5ASQsG1f3gpYPQN_sinais-de-recuperacao-da-economia-brasileira.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="economia-heading56" style="color:#000000;text-align:center;">ECONOMIA</h4>
    <div id="economia-markdown71" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ciências Econômicas estudam a produção, a distribuição, o consumo e o acúmulo de bens e serviços e a influência dos fenômenos econômicos no cotidiano de indivíduos e sociedades. A Economia pode ser dividida em duas grandes áreas: a macroeconomia,
        que está relacionada a cenários econômicos mais amplos, envolvendo sistemas econômicos nacionais e internacionais, e a microeconomia, que se preocupa com questões mais específicas, como problemas econômicos empresariais, industriais e de investidores
        individuais, para os quais o profissional propõe soluções.</p>
    </div>
    <h4 id="economia-heading57" style="color:#000000;">O que é estudado?</h4>
    <div id="economia-markdown72" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quem, no primeiro momento, pensa que Economia se resume apenas às Ciências Exatas se surpreende durante a graduação. No curso, cálculos coexistem com leituras sobre história e correntes teóricas econômicas. Conhecimentos em Ciências Sociais, Matemática,
        Estatística, além de Economia e História, integram a formação dos estudantes. </p>

      <p style="color:#000000;">A grade curricular da graduação em Ciências Econômicas da UFC, em Fortaleza, prevê disciplinas obrigatórias como Economia Matemática, Estatística Econômica, Pensamento Econômico Clássico e Neoclássico, Micro e Macroeconomia, Economia do Setor Público,
        entre outras. Já dentre as optativas, estão Economia do Ceará, Economia da Educação, Economia Solidária, Economia Ecológica, etc. Além de outras matérias optativas que adicionam novos horizontes.</p>
    </div>
  </ion-content>
</ion-view>