<ion-view title="Engenharia Elétrica" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ILtDWSVMQ2yy5yJmJHEj_engenharia.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="engenhariaElTrica-heading83" style="color:#000000;text-align:center;">Engenharia Elétrica</h4>
    <div id="engenhariaElTrica-markdown101" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Engenharia elétrica é o ramo da engenharia que trabalha com os estudos e aplicações da eletricidade, eletromagnetismo e eletrônica.</p>

      <p style="color:#000000;">O engenheiro elétrico é responsável por planejar, construir e manter sistemas capazes de gerar, transmitir e distribuir energia elétrica. Seu objetivo é levar energia elétrica a toda a população de forma segura e com qualidade.</p>
    </div>
    <h4 id="engenhariaElTrica-heading80" style="color:#000000;text-align:center;">Mercado de trabalho </h4>
    <div id="engenhariaElTrica-markdown102" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O mercado de trabalho para engenheiros elétricos está aquecido. Grandes obras de infraestrutura, a expansão da área de telecomunicações e investimentos em energia renovável têm contribuído para a crescente demanda por profissionais na área de Engenharia
        Elétrica.</p>

      <p style="color:#000000;">Algumas das empresas que mais contratam este profissional são:</p>

      <ul>
        <li>Usinas</li>
        <li>Subestações</li>
        <li>Linhas de Transmissão</li>
        <li>Empresas de Telecomunicações</li>
        <li>Construtoras</li>
        <li>Indústrias que fabricam sistemas elétricos e de automação</li>
      </ul>

      <p style="color:#000000;">Um engenheiro elétrico pode trabalhar em órgãos públicos (como secretarias, ministérios e instituições municipais, estaduais e federais) e também na iniciativa privada.</p>
    </div>
    <h4 id="engenhariaElTrica-heading82" style="color:#000000;text-align:center;">Estrutura curricular </h4>
    <div id="engenhariaElTrica-markdown103" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A estrutura curricular do bacharelado em Engenharia Elétrica possui disciplinas generalistas de Matemática, Física, Química e Computação. Também aborda matérias mais específicas da profissão nas áreas de:</p>

      <ul>
        <li>Eletrônica</li>
        <li>Sistemas de Energia Elétrica</li>
        <li>Telecomunicações</li>
        <li>Sistemas de Controle</li>
        <li>Processamento de Sinais</li>
        <li>Eletrônica de Potência</li>
      </ul>

      <p style="color:#000000;">O curso de Engenharia Elétrica possui muitas atividades práticas em laboratório. Ao final do curso o aluno deverá realizar um estágio supervisionado na área.</p>
    </div>
  </ion-content>
</ion-view>