<ion-view title="Engenharia da Computação" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/0dPB0kTqRcipSVTfaGLP_Engenharia-da-Computao.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="engenhariaDaComputaO-heading58" style="color:#000000;text-align:center;">Engenharia da Computação</h4>
    <div id="engenhariaDaComputaO-markdown73" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A Engenharia de Computação é uma disciplina que integra vários campos da Ciência da Computação e da Engenharia Eletrônica necessários para desenvolver hardware e software. Os engenheiros de computação geralmente têm treinamento em Engenharia Eletrônica
        (ou Engenharia Elétrica), design de software e integração de hardware e software, em vez de apenas Engenharia de Software ou Engenharia Eletrônica. Os engenheiros de computação estão envolvidos em muitos aspectos de hardware e software da computação,
        desde o projeto de microcontroladores individuais, microprocessadores, computadores pessoais e supercomputadores até o projeto de circuitos. Este campo de engenharia não se concentra apenas em como os próprios sistemas de computadores funcionam,
        mas também em como eles se integram no quadro geral.</p>

      <p style="color:#000000;">Tarefas usuais envolvendo engenheiros de computação incluem escrever software e firmware para microcontroladores embutidos, projetar chips VLSI, projetar sensores analógicos, projetar placas de circuito de sinal misto e projetar sistemas operacionais.
        Os engenheiros de computação também são adequados para a pesquisa em robótica, que depende muito do uso de sistemas digitais para controlar e monitorar sistemas elétricos como motores, comunicadores e sensores.</p>

      <p style="color:#000000;">O curso de engenharia da computação em sobral pode ser dividido em três grandes áreas, sendo elas: Automação e Controle, Ciências da Computação e Telecomunicações. </p>
    </div>
    <h4 id="engenhariaDaComputaO-heading59" style="color:#000000;text-align:center;">Ciências da Computação</h4>
    <div id="engenhariaDaComputaO-markdown74" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ciência da computação é a ciência que estuda as técnicas, metodologias e instrumentos computacionais, que automatiza processos e desenvolve soluções baseadas no uso do processamento de dados. Não se restringe apenas ao estudo dos algoritmos, suas
        aplicações e implementação na forma de software, extrapolando para todo e qualquer conhecimento pautado no computador, que envolve também a telecomunicação, o banco de dados e as aplicações tecnológicas que possibilitam atingir o tratamento de
        dados de entrada e saída, de forma que se transforme em informação. Assim, a Ciência da Computação também abrange as técnicas de modelagem de dados e os protocolos de comunicação, além de princípios que abrangem outras especializações da área.</p>
    </div>
    <h4 id="engenhariaDaComputaO-heading60" style="color:#000000;text-align:center;">Automação e Controle</h4>
    <div id="engenhariaDaComputaO-markdown75" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A automação pode ser definida como uma tecnologia que utiliza comandos programados para operar um dado processo, combinados com retroação de informação para determinar que os comandos sejam executados corretamente, frequentemente utilizada em processos
        antes operados por seres humanos[3], é a aplicação de técnicas computadorizadas ou mecânicas para diminuir o uso de mão-de-obra em qualquer processo, especialmente o uso de robôs nas linhas de produção. A automação diminui os custos e aumenta
        a velocidade da produção.</p>
    </div>
    <h4 id="engenhariaDaComputaO-heading61" style="color:#000000;text-align:center;">Telecomunicações</h4>
    <div id="engenhariaDaComputaO-markdown76" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">As telecomunicações constituem um ramo da engenharia elétrica e computação que contempla o projeto, a implantação, manutenção e controles de redes de sistemas de comunicações (satélites, redes telefônicas, televisivas, emissoras de rádio, Internet
        etc.). A principal finalidade das telecomunicações é suprir a necessidade humana de se comunicar à distância. </p>
    </div>
  </ion-content>
</ion-view>