<ion-view title="FAMED" id="page27">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/GShDxz7xTB6jPSbif3n3_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="fAMED-heading34" style="color:#000000;text-align:center;">Coordenações</h4>
    <div id="fAMED-markdown50" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A estrutura organizacional do Curso de Medicina é composta por coordenações:</p>

      <ul>
        <li>Coordenação do Curso</li>
        <li>Coordenação de Semestre</li>
        <li>Coordenação de Módulo</li>
        <li>Coordenação de Módulo Sequencial</li>
        <li>Coordenação de Atenção Básica à Saúde</li>
        <li>Coordenação de Desenvolvimento Pessoal</li>
        <li>Coordenação do Internato</li>
        <li>Coordenação de Clínica Médica</li>
        <li>Coordenação de Saúde Comunitária</li>
        <li>Coordenação de Cirurgia</li>
        <li>Coordenação de Pediatria</li>
        <li>Coordenação de Ginecologia e Obstetrícia</li>
      </ul>

      <p style="color:#000000;">O Colegiado do Curso de Medicina é presidido pela Coordenação do Curso e é composto porum representante técnico-administrativo, quatro representantes discentes e dois representantesdocentes de cada unidade curricular, a saber:Morfologia (Anatomia
        e Histologia/Embriologia), Fisiologia/Farmacologia/Bioquímica,Patologia (Imunologia, Patologia, Microbiologia, Parasitologia e Medicina Legal),Medicina Clínica, Pediatria, Cirurgia, Ginecologia e Obstetrícia, Atenção Básica à Saúde e14Desenvolvimento
        Pessoal. </p>

      <p style="color:#000000;">O Colegiado é a instância superior onde são aprovadas as decisões necessárias ao desenvolvimentodo curso.</p>
    </div>
    <h4 id="fAMED-heading35" style="color:#000000;text-align:center;">Biblioteca</h4>
    <div id="fAMED-markdown51" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A Biblioteca do Curso de Medicina/ UFC- Campus de Sobral encontra-se no Edifício Central.Conta com ampla recepção, duas salas de estudos (uma interna e uma externa), todas climatizadas.Há, ainda, uma biblioteca virtual possibilitando acesso ao portal
        dos periódicos da CAPES e avários sites de publicações médicas. O acervo é constituído de aproximadamente 3.927 livros didáticos. A sala de coleções especiais abriga vários títulos de periódicos, teses e dissertações, parapesquisas internas.</p>
    </div>
    <h4 id="fAMED-heading36" style="color:#000000;text-align:center;">Infraestrutura</h4>
    <div id="fAMED-markdown52" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Atualmente, o Curso de Medicina/UFC-Campus de Sobral ocupa uma área construída de 5.721,77m2 edificada e doada pela Prefeitura Municipal de Sobral.1º e 2º Blocos: 2.921,77m23º Bloco: 2.113m2 de edificação e 4.000m2 de urbanização </p>
    </div>
    <h4 id="fAMED-heading37" style="color:#000000;text-align:center;">1º Bloco</h4>
    <div id="fAMED-markdown53" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Laboratório de Anatomia Humana e Patológica.</p>

      <p style="color:#000000;">Laboratório Virtual de Anatomia.</p>

      <p style="color:#000000;">Laboratório de Morfologia.</p>

      <p style="color:#000000;">Laboratório de Cultura de Células. </p>
    </div>
    <h4 id="fAMED-heading38" style="color:#000000;text-align:center;">2º Bloco</h4>
    <div id="fAMED-markdown54" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Salas de aula Gabinetes para professores Laboratórios:</p>

      <ul>
        <li>Histologia e Embriologia</li>
        <li>Fisiologia</li>
        <li>Farmacologia </li>
      </ul>

      <p style="color:#000000;">Núcleo de Biotecnologia de Sobral (NUBIS):</p>

      <ul>
        <li>Microbiologia/Parasitologia</li>
        <li>Imunologia</li>
        <li>Bioquímica</li>
        <li>Biologia Molecular </li>
      </ul>

      <p style="color:#000000;">Laboratório de Informática.</p>

      <p style="color:#000000;">Hospedaria para pequenos animais .</p>
    </div>
    <h4 id="fAMED-heading39" style="color:#000000;text-align:center;">3º bloco</h4>
    <div id="fAMED-markdown55" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Biblioteca:</p>

      <ul>
        <li>Acervo</li>
        <li>Biblioteca Virtual</li>
        <li>Coleções Especiais</li>
        <li>Salas de Leitura</li>
      </ul>

      <p style="color:#000000;">Salão para Recepções e Exposições.</p>

      <p style="color:#000000;">Auditório Central.</p>

      <p style="color:#000000;">Secretaria Acadêmica.</p>

      <p style="color:#000000;">Secretaria Executiva e Administração.</p>

      <p style="color:#000000;">Coordenação Geral.</p>

      <p style="color:#000000;">Laboratório de Habilidades Clínicas e Comunicação.</p>

      <p style="color:#000000;">Sala de Estudo.</p>

      <p style="color:#000000;">Centro Acadêmico.</p>

      <p style="color:#000000;">Sala de Reprografia.</p>

      <p style="color:#000000;">Lanchonete</p>
    </div>
    <h4 id="fAMED-heading40" style="color:#000000;text-align:center;">Links e Contatos</h4>
    <div id="fAMED-markdown56" class="show-list-numbers-and-dots">
      <p style="color:#000000;">E-mail: famedsobral@ufc.br</p>

      <p style="color:#000000;">Telefone: (88) 3695-4701</p>
    </div>
    <a href-inappbrowser="www.medsobral.ufc.br" id="fAMED-button32" class="button button-stable button-small button-block">Site da Medicina</a>
    <a href-inappbrowser="http://www.sobral.ufc.br/sobre/campus/biblioteca-medicina/" id="fAMED-button34" class="button button-stable button-small button-block">Biblioteca da FAMED</a>
    <a href-inappbrowser="https://petmedsobral.wixsite.com/site" id="fAMED-button35" class="button button-stable button-small button-block">PET da Medicina</a>
  </ion-content>
</ion-view>