<ion-view title="FORMAMUS" id="page36">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="fORMAMUS-heading67" style="color:#000000;">FORMAMUS - Laboratório de Pesquisa e Práticas em Educação Musical </h5>
    <div id="fORMAMUS-markdown84" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O site do Formamus tem como intuito disponibilizar materiais didáticos em Educação Musical, visando dar suporte aos profissionais que atuam com o ensino e a aprendizagem de Música em múltiplos contextos (professores de Artes/Música da rede pública
        e privada, músicos, pesquisadores, dentre outros profissionais). Todo o material disponibilizado na plataforma é resultado de uma ampla pesquisa realizada em diversos ambientes na Web.</p>

      <p style="color:#000000;">Espera-se como resultado do esforço deste trabalho, que é feito por muitas “mãos”, orientar, aprimorar e atualizar as ações de formação e aprendizagem musical dos educadores musicais e demais profissionais com demandas no campo da educação musical.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="https://formamus.ufc.br/" id="fORMAMUS-button46" class="button button-stable button-block">Saiba Mais</a>
  </ion-content>
</ion-view>