<ion-view title="Grupos de Pesquisa" id="page34">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="pESQUISAMUS()" id="gruposDePesquisa-button43" class="button button-stable button-block icon-right ion-android-arrow-forward">PESQUISAMUS</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="fORMAMUS()" id="gruposDePesquisa-button44" class="button button-stable button-block icon-right ion-android-arrow-forward">FORMAMUS</a>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="MSICANAESCOLA()" id="gruposDePesquisa-button45" class="button button-stable button-block icon-right ion-android-arrow-forward">Música na Escola</a>
  </ion-content>
</ion-view>