<ion-view title="Iniciação Científica" id="page26">
  <ion-content padding="true" class="has-header">
    <h4 id="iniciaOCientFica-heading32" style="color:#000000;text-align:center;">Iniciação Científica</h4>
    <div id="iniciaOCientFica-markdown48" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A área de pesquisa é outro âmbito contemplado por uma modalidade de bolsa, o Programa Institucional de Bolsas de Iniciação Científica (Pibic-UFC). Gerido pela Pró-Reitoria de Pesquisa e Pós-Graduação, o programa visa ao despertar de estudantes para
        a vocação científica e incentivar a descoberta de novos talentos para a pesquisa na comunidade estudantil.</p>

      <p style="color:#000000;">A UFC lança um edital bienal para seleção de projetos de pesquisas de professores doutores, para destinar uma cota de bolsistas aos contemplados. Os objetivos do Pibic são:</p>

      <ul>
        <li>Despertar vocação científica e incentivar novos talentos potenciais entre estudantes de graduação;</li>
        <li>Contribuir para reduzir o tempo médio de titulação de mestres e doutores;</li>
        <li>Propiciar à instituição um instrumento de formulação de política de iniciação à pesquisa para alunos de graduação;</li>
        <li>Estimular uma maior articulação entre a graduação e pós-graduação;</li>
        <li>Contribuir para a formação de recursos humanos para a pesquisa;</li>
        <li>Contribuir de forma decisiva para reduzir o tempo médio de permanência dos alunos na pós-graduação;</li>
        <li>Estimular pesquisadores produtivos a envolverem alunos de graduação nas atividades científica, tecnológica e artístico cultural;</li>
        <li>Proporcionar ao bolsista, orientado por pesquisador qualificado, a aprendizagem de técnicas e métodos de pesquisa, bem como estimular o desenvolvimento do pensar cientificamente e da criatividade, decorrentes das condições criadas pelo confronto
          direto com os problemas de pesquisa.</li>
      </ul>

      <p style="color:#000000;">A carga horária é de 16 horas, e o valor pago, de R$ 400,00.</p>
    </div>
  </ion-content>
</ion-view>