<ion-view title="Iniciação Acadêmica" id="page22">
  <ion-content padding="true" class="has-header">
    <h4 id="iniciaOAcadMica-heading28" style="color:#000000;text-align:center;">Iniciação Acadêmica</h4>
    <div id="iniciaOAcadMica-markdown44" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O Programa Bolsa de Iniciação Acadêmica tem por objetivo propiciar aos estudantes de Cursos de Graduação Presenciais da Universidade Federal do Ceará (UFC) – em situação de vulnerabilidade sócioeconômica comprovada – especialmente os de semestres
        iniciais, condições financeiras para sua permanência e desempenho acadêmico satisfatório, mediante atuação, em caráter de iniciação acadêmica, nas diversas unidades da Instituição.</p>
    </div>
  </ion-content>
</ion-view>