<ion-view title="Intracampus" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dXD8JQGUS2WgouAO0I9b_WhatsAppImage2019-11-04at15.49.25.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div id="intracampus-markdown40" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O Campus de Sobral oferece serviço de transporte gratuito aos membros da comunidade acadêmica através do chamado “Ônibus Intracampus”.</p>

      <p style="color:#000000;">O Ônibus Intracampus funciona durante os dias letivos percorrendo trajeto que interliga os vários prédios nos quais há atividades da UFC.</p>

      <p style="color:#000000;">O primeiro percurso sai do Mucambinho às 07h15, circulando de modo contínuo durante o dia e fazendo sua última rota saindo também do Mucambinho às 19h00. A imagem abaixo exibe a rota do Intracampus.</p>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <img src="img/BBMq1rrqSR2RpNRHr6gZ_Rota-Intracampus-2019.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>