<ion-view title="Medicina" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EVnaMIwgTnW6LSUfPTjC_medicina-curso.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="medicina-heading33" style="color:#000000;text-align:center;">MEDICINA</h4>
    <div id="medicina-markdown49" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;"> Curso de Medicina/UFC-Campus de Sobral iniciou suas atividades no dia 2 de abril de 2001,no Centro de Ciências da Saúde, Campus do Derby, da Universidade Estadual Vale do Acaraú –UVA. O Curso de Medicina/UFC-Campus 84 professores efetivos, sendo
        24 doutores, 32 mestres e28 especialistas. </p>

      <p style="color:#000000;"> A missão é formar o profissional médico, utilizando metodologias e cenários de ensinoadequados, visando ao desenvolvimento individual e coletivo de conhecimentos, habilidades eatitudes, fundamentados em princípios éticos, humanísticos e científicos
        a partir das necessidadesde saúde da população.</p>

      <p style="color:#000000;"> O atual currículo contempla módulos integrados, organizados por sistemas e estruturado em 12(doze) semestres, com período letivo de, no mínimo, 100 dias cada. Os conteúdos essenciais,obrigatórios a uma sólida formação médica, estão contidos nos
        Módulos Sequenciais, nos MódulosLongitudinais e no Internato. Os conteúdos complementares são oferecidos em disciplinasoptativas, distribuídas do 5º ao 8o semestre, totalizando 240 horas. A carga horária total é de 9.080horas, sendo 4.592 do S1
        ao S8 e 4.488 pelo internato. </p>

      <p style="color:#000000;"> A localização do campus é na Av. Comte. Maurocélio Rocha Ponte, 100, Derby</p>
    </div>
    <h4 id="medicina-heading84" style="color:#000000;">Saiba mais!</h4>
    <a ui-sref="fAMED()" id="medicina-button31" class="button button-stable button-block icon-right ion-android-arrow-forward">Campus da Medicina</a>
  </ion-content>
</ion-view>