<ion-view title="Música" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/2YF0qAAXRWae7Il7Mutg_images.jpg" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="mSica-heading77" style="color:#000000;text-align:center;">MÚSICA</h4>
    <div id="mSica-markdown77" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O curso de Música – Licenciatura da Universidade Federal do Ceará em Sobral foi criado no ano de 2011, no intuito de atender às demandas da região Noroeste do Estado do Ceará quanto à formação de Educadores Musicais. Assim, forma o professor de
        Música, em nível superior, com conhecimentos da pedagogia, linguagem musical e ensino de instrumentos musicais, capaz de atuar de maneira crítica e reflexiva, interagindo, enquanto artista educador musical, com o meio em que atua.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="mSica-heading62" style="color:#000000;">Formação</h4>
    <div id="mSica-markdown78" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O curso tem duração de quatro anos, se dividindo em três eixos de formação:</p>

      <ul>
        <li>
          <p style="color:#000000;">Teorias e práticas, abrigando estudos semiológico-musicais;</p>
        </li>
        <li>
          <p style="color:#000000;">Ações Pedagógicas, ligada com o estudo e prática da expressão vocal, práticas instrumentais (Violão, Cordas Friccionadas, Teclado, Sopros), ensino de instrumentos musicais, bem como a formação reflexiva e crítica do Educador Musical;</p>
        </li>
        <li>
          <p style="color:#000000;">Estudos sobre Estética, responsável pela fundamentação filosófica, sociológica, histórica e antropológica da música.</p>
        </li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="mSica-heading63" style="color:#000000;">Áreas de Atuação</h4>
    <div id="mSica-markdown79" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Busca-se a formação de um Educador Musical capaz de atuar em diferentes contextos profissionais:</p>

      <ul>
        <li>Educação Básica</li>
        <li>Escolas Especializadas em Música</li>
        <li>ONGs</li>
        <li>Projetos sociais diversos </li>
        <li>Educação musical inclusiva </li>
        <li>EJA, entre outros</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="mSica-heading64" style="color:#000000;text-align:justify;">O ingresso no curso</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="mSica-markdown80" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O ingresso no curso é anual, via SISU(Sistema de Seleção Unificada). As disciplinas obrigatórias ocorrem em período noturno (18h –22h). No caso dos cursos de extensão, estágio e disciplinas optativas, as atividades se estendem no período diurno.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h5 id="mSica-heading68" style="color:#000000;">Saiba mais!</h5>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="gruposDePesquisa()" id="mSica-button39" class="button button-stable button-block icon-right ion-android-arrow-forward">Grupo de Pesquisas</a>
    <a ui-sref="eNCONTRAMUS()" id="mSica-button41" class="button button-stable button-block icon-right ion-android-arrow-forward">ENCONTRAMUS</a>
    <a href-inappbrowser="http://www.musicasobral.ufc.br/v2/?page_id=420" id="mSica-button48" class="button button-stable button-block icon-right ion-android-arrow-forward">Horários 2019</a>
  </ion-content>
</ion-view>