<ion-view title="PACCE" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/XAPAtgNRyiI2tHsxCVgC_Untitled-1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="pACCE-heading31" style="color:#000000;text-align:center;">PACCE - Programa de Aprendizagem Cooperativa em Células Estudantis</h4>
    <div id="pACCE-markdown47" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O Programa de Aprendizagem Cooperativa em Células Estudantis é um programa de bolsas de monitoria da Escola Integrada de Desenvolvimento e Inovação Acadêmica da UFC que tem como principal objetivo colaborar para o aumento da taxa de conclusão nos
        cursos de graduação da UFC. A principal estratégia utilizada é a difusão de Células Estudantis - grupos de estudo que utilizam a metodologia de Aprendizagem Cooperativa.
      </p>
    </div>
  </ion-content>
</ion-view>