<ion-view title="Programas de Extensão" id="page35">
  <ion-content padding="true" class="has-header">
    <h5 id="programasDeExtensO-heading78" style="color:#000000;">Projetos e Programas de Extensão - Psicologia Sobral</h5>
    <div class="spacer" style="height: 10px;"></div>
    <a ui-sref="pETPSICOLOGIA()" id="programasDeExtensO-button53" class="button button-stable button-block icon-right ion-android-arrow-forward">PET - PSICOLOGIA</a>
    <a ui-sref="uMESTRANHONONINHO()" id="programasDeExtensO-button54" class="button button-stable button-block icon-right ion-android-arrow-forward">UM ESTRANHO NO NINHO</a>
    <a href-inappbrowser="https://psicologiasobral.ufc.br/projetos-e-pesquisa/" id="programasDeExtensO-button55" class="button button-stable button-block">Saiba mais</a>
  </ion-content>
</ion-view>