<ion-view title="Sobre a equipe" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/oK00hbYCTSqA8BDza8uB_Mos-que-se-ajudam.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <h4 id="sobreAEquipe-heading70" style="color:#000000;">My college buddy!</h4>
    <div id="sobreAEquipe-markdown99" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O aplicativo
        <strong>My college buddy!</strong> foi desenvolvido com intuito de cooperar com os alunos ingressantes nos cursos da Universidade Federal do Ceará, campus Sobral.</p>

      <p style="color:#000000;">Acredita-se que o período de ingresso em uma universidade é um momento espetacular, mas que ao mesmo tempo pode ser desafiador. Pensando nisso, o aplicativo busca facilitar o acesso às informações básicas da faculdade, que serão extremamente úteis
        ao universitário e cessar as dúvidas mais frequentes dos discentes sobre a faculdade.</p>

      <p style="color:#000000;">Logo, esperamos acolher e ajudar o estudante nesse período árduo de adaptação. Sendo um verdadeiro companheiro de faculdade!</p>
    </div>
    <div class="spacer" style="height: 6px;"></div>
    <h4 id="sobreAEquipe-heading72" style="color:#000000;">Sobre a equipe</h4>
    <div id="sobreAEquipe-markdown100" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Somos alunos do curso de Engenharia da Computação e estamos cursando a disciplina de Ciências, tecnologia e sociedade. </p>

      <p style="color:#000000;">Nosso principal objetivo é desenvolver um aplicativo para atender às demandas dos alunos ingressantes na Universidade Federal do Ceará (campus Sobral). </p>

      <p style="color:#000000;">Esperamos que o
        <strong>My college buddy</strong> possa ajudar uma grande quantidade de estudantes nos diferentes cursos.</p>

      <p style="color:#000000;">
        <strong>Agradecimento</strong>. Em especial à nossa professora, Rita Helena, pelo apoio e pela orientação durante a construção desse projeto.</p>
    </div>
  </ion-content>
</ion-view>