<ion-view title="SPA" id="page31">
  <ion-content padding="true" class="has-header">
    <h5 id="sPA-heading71" style="color:#000000;">Serviço de Psicologia Aplicada – SPA</h5>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/kg1o50vBT8CMzZWgaKIT_spa-1.jpg" style="display: block; width: 100%; height: 20%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="sPA-markdown89" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O Serviço de Psicologia Aplicada Raimundo Medeiros Frota, da Universidade Federal do Ceará está vinculado ao Curso de Psicologia da UFC, Campus Sobral. Este espaço foi inaugurado oficialmente no dia 13 de abril de 2012 e foi considerado um grande
        passo que confirma a política de interiorização das universidades. Atualmente atende as comunidades de Sobral e de localidades vizinhas e apresenta crescente aumento no número de usuários que procuram o serviço tanto por demanda espontânea como
        por encaminhamentos de outros locais da rede de saúde e atenção social.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="sPA-heading73" style="color:#000000;">Público-alvo</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="sPA-markdown90" style="text-align:justify;" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="color:#000000;">Qualquer pessoa (demanda espontânea) que por iniciativa própria e/ou por encaminhamento busque atendimento psicológico.</p>
        </li>
        <li>
          <p style="color:#000000;">Exceto estudantes, professores e funcionários lotados no curso de Psicologia da UFC Sobral, em virtude de questões éticas.</p>
        </li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="sPA-heading74" style="color:#000000;">Atividades realizadas</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="sPA-markdown91" class="show-list-numbers-and-dots">
      <ul>
        <li>Acolhimento</li>
        <li>Avaliação inicial/Triagem</li>
        <li>Psicoterapia individual/grupal</li>
        <li>Psicodiagnóstico</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="sPA-heading75" style="color:#000000;">Atendimento</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="sPA-markdown92" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Av. Lúcia Sabóia, nº. 517</p>

      <p style="color:#000000;">CEP 62.010-830, Centro, Sobral, Ceará</p>

      <p style="color:#000000;">Dias úteis: </p>

      <ul>
        <li>08h às 12 horas</li>
        <li>14h às 18 horas</li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="https://psicologiasobral.ufc.br/servico-de-psicologia-aplicada-spa/" id="sPA-button52" class="button button-stable button-block">Saiba mais</a>
  </ion-content>
</ion-view>