<ion-view title="UM ESTRANHO NO NINHO" id="page39">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/MvKixu4ATpeXOGHXo8GA_Screenshot_2019-11-0613240536_251905208506245_5994025194571856817_njpgJPEGImage182231pixels.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 14px;"></div>
    <h4 id="uMESTRANHONONINHO-heading81" style="color:#000000;text-align:center;">PROJETO UM ESTRANHO NO NINHO</h4>
    <div id="uMESTRANHONONINHO-markdown97" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Um Estranho no Ninho foi criado em 2015, pela coordenadora Professora Dra. Denise Silva e se trata de um projeto de monitoria de graduação da Universidade Federal do Ceará- Campus Sobral.</p>

      <p style="color:#000000;">Este projeto se justifica na medida em que o monitor poderá melhorar a qualidade de vida dos alunos dos primeiros semestres, já que este momento inicial na vida acadêmica é pleno de incertezas e confusões que o corpo docente e técnico administrativo
        nem sempre conseguem sanar. </p>

      <p style="color:#000000;">Assim, buscamos atuar junto aos estudantes dos primeiros semestres, através de rodas de conversas, oficinas, palestras, entre outros modos, de forma a auxiliá-los nessa adaptação à vida acadêmica e à permanência na universidade</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="https://projetoumestranhononinho.wordpress.com/sobre/" id="uMESTRANHONONINHO-button57" class="button button-stable button-block">Saiba mais</a>
  </ion-content>
</ion-view>